<!-- <p>article-details works!</p> -->


<section class="blog-detail mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog-left">
            <h1>The Discovery Of INDIA</h1>
            <div class="posted-on">
                <p>by <span>Jawaharlal Nehru</span> on <span>Januart 1, 1946</span></p>
            </div>
            <div class="detail-img">
               <img src="assets/images/img1.webp" alt="blog1">
            </div>
            <div class="blog-desc">
              <p>Written over five months when Jawaharlal Nehru was imprisoned in the Ahmadnagar Fort, The Discovery of India has acquired the status of a classic since it was first published in 1946.
 
               </p>
               <p> Nehru's brilliant intellect, deep humanity, and lucid style make 'The Discovery of India' essential reading for anyone interested in India, both its past and its present.
                
            </p>
            <p>the Highlights of this book are, Like: -
            </p> 
            <ul>
                <li>The book started from ancient history, Nehru wrote at length of Vedas, Upanishads and textbooks on ancient time and ends during the British raj.</li>
                <li>The book is a broad view of Indian history, culture and philosophy, the same can also be seen in the television series. </li>
                <li>The book is considered as one of the finest writing om Indian History.</li>
                <li>The television series Bharat Ek Khoj which was released in 1988 was based on this book.</li>
                
            </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <app-featured-articles></app-featured-articles>
            <app-categories></app-categories>
        </div>
      </div>
    </div>
  </section>