<!-- <p>latest-articles works!</p> -->

<section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
          <h2 class="title-heading">Latest Books</h2>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img1.webp" alt="blog1">
            <h3>The Discovery Of INDIA</h3>
            <p>by <span>Jawaharlal Nehru</span></p>
            <p>Written over five months when Jawaharlal Nehru was imprisoned in the Ahmadnagar Fort, The Discovery of India has acquired the status of a classic since it was first published in 1946.</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img2.jpg" alt="blog1">
            <h3>India's Struggle for Independence</h3>
            <p>by <span>Bipan Chandra</span></p>
            <p>Bipan Chandra is considered an authority on Modern Indian History and is one of its most popular scholars.</p>
            <a href="#" class="btn btn-primary">Read more...</a>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img3.jpg" alt="post1">
            <h3>Gandhi : An AutoBiography</h3>
            <p>by <span>Mahathma Gandhi</span></p>
            <p>Mohandas K. Gandhi is one of the most inspiring figures of our time. In his classic autobiography he recounts the story of his life.</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img4.jpg" alt="post2">
            <h3>INDIA : A History</h3>
            <p>by <span>John Keay</span></p>
            <p>A History is a probing and provocative chronicle of five thousand years of South Asian history, from the first Harrapan settlements on the banks of the Indus River .</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img5.jpg" alt="post3">
            <h3>City Of Djinns : A Year In Delhi</h3>
            <p>by <span>William Dalrymple</span></p>
            <p>Sparkling with irrepressible wit, City of Djinns peels back the layers of Delhi's centuries-old history, revealing an extraordinary array of characters along the way-from eunuchs to descendants of great Moguls.</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img6.jpg" alt="post4">
            <h3>Annihilation of Caste</h3>
            <p>by <span>B.R.Ambedkar</span></p>
            <p>B.R.Ambedkar's Annihilation of Caste is one of the most important, yet neglected, works of political writing from India. Written in 1936, it is an audacious denunciation of Hinduism and its caste system.</p>
            <a href="detail.html" class="btn btn-primary">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </section>