<!-- <p>categories works!</p> -->

<div class="widget right-widget categories">
    <h3 class="widget-title">Popular Categories</h3>
    <ul>
       <li><a href="#">Historical Books</a></li>
       <li><a href="#">Novels</a></li>
       <li><a href="#">Books On Pure Love</a></li>
       <li><a href="#">Indian Story</a></li>
       <li><a href="#">Books on Great Wars</a></li>
       <li><a href="#">Biographies</a></li>
       <li><a href="#">Current Society</a></li>
       <li><a href="#">Technology</a></li>
       <li><a href="#">Great Wariorrs</a></li>
       <li><a href="#">Filmy Books</a></li>
   </ul>
  </div>