<!-- <p>about-us works!</p> -->


<section class="blog-detail mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-left">
            <h1>About Us : Room'12'</h1>
           
            <div class="detail-img">
               <img src="assets/images/about.jfif" alt="blog1">
            </div>
            <div class="blog-desc">
              <p>
                  This is the Blog Created to Upload all types of Books !!!
               </p>
               <p> Here We provide you all the books for no cost. Awake!! Read!! Repeat!!
                
            </p>
            <p>We are group of six members:-
            </p> 
            <ul>
                <li>ASHISH</li>
                <li>DEDEEPYA</li>
                <li>JHANSI</li>
                <li>KAVIN</li>
                <li>SAUMYA</li>
                <li>SURAJ</li>
            </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>