<!-- <p>featured-articles works!</p> -->


<div class="widget right-widget recent-post">
    <h4 class="widget-title">Featured Posts</h4>
    <a href="/article/1">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img1.webp" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>The Discovery Of INDIA</h5>
                <p>by <span>jawaharlal Nehru</span></p>
                <p>Posted On: January 10, 2001</p>
            </div>
        </div>
    </a>
    <a href="/article/2">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img2.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>India's Struggle for Independence</h5>
                <p>by <span>Bipan Chandra</span></p>
                <p>Posted On: March 15, 2019</p>
            </div>
        </div>
    </a>
    <a href="/article/3">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img3.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Gandhi : An AutoBiography</h5>
                <p>by <span>Mahathma Gandhi</span></p>
                <p>Posted On: october 12, 2002</p>
            </div>
        </div>
    </a>
    <a href="/article/4">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img4.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>INDIA : A History</h5>
<p>by <span>John Kaey</span></p>
                <p>Posted On: March 10, 2019</p>
            </div>
        </div>
    </a>
    <a href="/article/5">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img5.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>City Of Djinns : A Year In Delhi</h5>
<p>by <span>William Dalrymple</span></p>
                <p>Posted On: august 24, 2020</p>
            </div>
        </div>
    </a>
  </div>